<html>
<head>
<title>Blog app</title>
<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/app.css" rel="stylesheet" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>
</head>
<body>
	<div class="ui fixed inverted menu">
		<div class="ui container">
			<a href="/" class="header item"><i class="code icon"></i>Blog Site</a>
			<% if (!currentUser) { %>
				<a href="/signin" class="item">Sign In</a>
				<a href="/signup" class="item">Sign Up</a>
			<% } else {%>
				<a href="/posts/new" class="item">New Post</a>
				<a href="/logout" class="item">Log Out</a>
			<% } %>
		</div>
	</div>