<% include partials/header %>
<div class="ui main text container segments">
<div class="ui huge header">Edit post</div>
<form action="/posts/<%= post._id %>?_method=PUT" method="post" class="ui form">
<div class="field">
	<label>Title</label>
	<input type="text" name="post[title]" placeholder="title" value="<%= post.title %>">
</div>
<div class="field">
	<label>image</label>
	<input type="text" name="post[image]" placeholder="image" value="<%= post.image %>">
</div>
<div class="field">
	<label>Text</label>
	<textarea name="post[markdown]" placeholder="post post here"><%- post.markdown.trim() %></textarea>
</div>
<div class="field">
	<label>Tags</label>
	<input type="text" name="post[tags]" placeholder="Comma is separator" value="<%= post.tags.join(", ") %>">
</div>
<input type="submit" class="ui blue big basic button" value="Submit">
</form>
</div>
<% include partials/footer %>