<% include partials/header %>
<div class="ui main text container">
<div class="ui huge header">RESTful blog</div>
<div class="ui top attached segment">
	<div class="ui divided items">
<% if (posts.length > 0) { posts.forEach(function(post) { %>
	<div class="item">
		<div class="image">
				<img src="<%= post.image %>" >
		</div>
		<div class="content">
			<a class="header" href="/posts/<%= post._id %>"><%= post.title %></a>
			<div class="meta">
				<span>by <a href="#"><%= post.author.username %></a> at <%= post.created.toDateString() %></span>
			</div>
			<div class="description">
			<% post.tags.forEach(function(tag) { %>
				<a href="/posts/tags/<%= tag %>" class="ui tag label"><%= tag %></a>
			<% }) %>
			</div>

			<div class="extra">
				<a class="ui floated basic button" href="/posts/<%= post._id %>">
				<i class="right chevron icon"></i>Read more</a>
			</div>
		</div>
	</div>

<% }) } else { %>
No posts
<% } %>
</div>
</div>
</div>
<% include partials/footer %>