<% include partials/header %>
<div class="ui main text container segments">
<div class="ui huge header">New post</div>
<form action="/posts" method="post" class="ui form" enctype="multipart/form-data">
<div class="field">
	<label>Title</label>
	<input type="text" name="post[title]" placeholder="title">
</div>
<div class="field">
	<label>Image</label>
	<div>
	<a href="#" id="image-link" class="ui basic green button magic"><i class="linkify big icon"></i>Insert a link</a>
	<label class="ui basic blue button filecontainer"><i class="upload big icon"></i>
		<span id="upload-text">Upload a picture</span>
		<input type="file" class="inputfile" name="post[imageFile]">
	</label>
	
	</div>
</div>
<div class="field hidden" id="image-link-input">
	<input type="text" name="post[imageUrl]" placeholder="image" value="/images/no-image.png">
</div>
<div class="field">
	<label>Text</label>
	<textarea name="post[markdown]" placeholder="Blog post here"></textarea>
</div>
<div class="field">
	<laberl>Tags</laberl>
	<input type="text" name="post[tags]" placeholder="Comma is separator">
</div>
<input type="submit" class="ui blue big basic button" value="Submit">
</form>
</div>
<script>
var input = document.querySelectorAll('.inputfile')[0];
var upload_text = document.getElementById("upload-text");
input.addEventListener('change', function(e) {
	var fileName = '';
	if (this.files && this.files.length > 1) {
		fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
	} else {
		fileName = e.target.value.split( '\\' ).pop();
	}
	if (fileName) {
		upload_text.innerHTML = fileName;
	} else {
		upload_text = labelVal;
	}
});
var imageLink = document.getElementById("image-link");
var imageLinkInput = document.getElementById("image-link-input");
imageLink.addEventListener('click', function(e) {
	console.log(1);
	imageLinkInput.classList.toggle('hidden');
});
</script>
<% include partials/footer %>