<% include partials/header %>
<div class="ui main container">
	<div class="ui huge header"><%= post.title %></div>
	<span><%= post.created.toDateString() %> by <a href="#"><%= post.author.username %></a></span>
	<div class="ui top attached segment">
		<div class="item">
			<img src="<%= post.image %>" class="ui medium rounded image">
			<div class="description">
				<p><%- post.body %></p>
			</div>
			<% if (currentUser && (currentUser.id == post.author.id)) { %>
			<a href="/posts/<%= post._id %>/edit" class="ui orange button">Edit</a>
			<form method="POST" action="/posts/<%= post._id %>?_method=DELETE" id="delete">
			<input type="submit" value="Delete" class="ui red button">
			</form>
			<% } %>
		</div>
	</div>
	<div class="ui segment">
		<% post.tags.forEach(function(tag) { %>
		<a href="/posts/tag/<%= tag %>" class="ui label tag"><%= tag %></a>
		<% }) %>
	</div>
	<div class="ui minimal comments">
		<h3 class="ui dividing header">Comments</h3>
		<% post.comments.forEach(function(comment) { %>			
			<div class="comment">				
				<img class="avatar" src="http://semantic-ui.com/images/avatar/small/stevie.jpg">				
				<div class="content">
					<a class="author"><%= comment.author %></a>
					<div class="metadata">
						<span class="date"><%= comment.created.toDateString() %></span>
					</div>
					<div class="text"><%= comment.text %></div>
				</div>
			</div>
		<% }) %>
		<form class="ui reply form" method="post" action="/posts/<%= post._id %>/comments">
			<div class="field">
				<% if (currentUser) { %>
		    	<input name="comment[author]" type="hidden" placeholder="Write your name here" 
		    		value="<%= currentUser.username %>"></input>
		    	<% } else { %>
		    	<label>Name:</label>
		    	<input name="comment[author]" type="text" placeholder="Write your name here" 
		    		value=""></input>
		    	<% } %>
		    </div>
		    <div class="field">
		    	<label>Comment:</label>
		    	<textarea name="comment[text]"></textarea>
		    </div>
		    <button class="ui primary submit labeled icon button">
		    	<i class="icon edit"></i> Add Comment
		    </button>
		</form>
	</div>
</div>
<% include partials/footer %>
