<% include partials/header %>
<div class="ui main text container">
<div class="ui huge header">Sign In</div>
	<form class="ui form" method="post" action="/signin">
	<div class="field">
		<label>Username:</label>
		<input name="username" placeholder="username">
	</div>
	<div class="field">
		<label>Password</label>
		<input type="password" name="password" placeholder="*******">
	</div>
	<input type="submit" value="Sign In" class="ui blue button">
	</form>
</div>
<% include partials/footer %>