.header i.icon {
	font-size: 2em;
}
.container.main {
	margin-top: 7em;
	padding: 10px;
}
#delete {
	display: inline;
}
.ui.comments .comment .avatar img, .ui.comments .comment img.avatar {
	width: 2.5em;
	height: 2.5em;
}
#image-link-input {
    transition-property: visibility, opacity, height;
    transition-duration: 0.5s, 0.5s, 0.5s;
    transform-style: ease-out;
}
#image-link-input.hidden {
    opacity: 0;
    height: 0;
    visibility: hidden;
    transition-property: opacity, visibility, height;
    transition-duration: 0.5s, 0s, 0.5s;
    transition-delay: 0s, 0.8s, 0.8s;
}
.fileContainer {
    overflow: hidden;
    display: block;
    position: absolute;
}
.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}