<% include ../partials/header %>
<div class="ui main text container segments">
<div class="ui huge header">Upload a file</div>
<form action="/files" method="post" id="myForm" class="ui form" enctype="multipart/form-data">
<div class="field">
	<label>Files</label>
	<div>
	
	<label class="ui basic blue button filecontainer"><i class="upload big icon"></i>
		<span id="upload-text">Choose a file…</span>
		<input type="file" class="inputfile" name="file" data-multiple-caption="{count} files selected" multiple>
	</label>
	
	</div>
</div>
<div class="field" style="margin-top: 70px;">
<input type="submit" class="ui blue big basic button" value="Upload">
</div>
</form>
<div class="ui indicating progress" id="example5">
  <div class="bar"></div>
  <div class="label">Uploading files</div>
</div>
</div>

<script>
var input = document.querySelectorAll('.inputfile')[0];
var upload_text = document.getElementById("upload-text");
var form = document.getElementById("myForm");
form.addEventListener('submit', function(event) {
	event.preventDefault();
	var formData = new FormData(form);
	var xhr = new XMLHttpRequest();
	xhr.open("POST", "/files", true);
	xhr.send(formData);
	xhr.onload = function(e) {
		console.log("Req status", xhr.status);
		var data = JSON.parse(xhr.responseText);
		console.log("RESPONE:", data);
	};
	xhr.addEventListener("progress", function(e) {
		console.log(e);
		$('.ui.progress').progress('set progress', e.loaded);
	});
	xhr.addEventListener("loadstart", function(e) {
		$('.ui.progress').progress({
			duration : e.total,
			total    : e.total,
			text     : {
			  active: '{value} of {total} done'
			}
		});
	});
	
	return false;
});
input.addEventListener('change', function(e) {
	e.preventDefault();
	var fileName = '';
	if (this.files && this.files.length > 1) {
		fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
	} else {
		fileName = e.target.value.split( '\\' ).pop();
	}
	if (fileName) {
		upload_text.innerHTML = fileName;
	}
	return false;
});
</script>
<% include ../partials/footer %>