<% include ../partials/header %>
<div class="ui main container centered">
<% if (files.length > 0) { %>
<table class="ui very basic collapsing celled table">
  <thead>
    <tr><th>User</th>
    <th>File Location</th>
  </tr></thead>
  <tbody>
  <% files.forEach(function(file) { %>
    <tr>
      <td>
        <h4 class="ui image header">
          <img src="/images/no-image.png" class="ui mini rounded image">
          <div class="content">
            <%= file.user.username %>
          </div>
        </div>
      </h4></td>
      <td>
        <a href="<%= file.location %>"><%= file.location %></a>
      </td>
    </tr>
 <% }) %>   
  </tbody>
</table>
<% } else { %>
<h3>no files uploaded</h3>
<% } %>
</div>
<% include ../partials/footer %>